<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="./style.css" > 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header>
	    <h1>Tennis Game</h1> 
    </header>
    
    <div class="message">
    	<div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
		<div class="alert alert-error" role="alert" th:text="${error}" th:if="${error}"></div>
    </div>
    
    <div class="nav-bar1">
		<a href="./index"><button>Accueil</button></a>  
		<a  href="./nouvelUtilisateur"><button>Création Compte</button></a> 
		<a  href="./identification"><button>Identification</button></a>
		<a  href="./disponibilite"><button>Disponibilité</button></a>
		<a  href="./resultat"><button>Résultat</button></a>
		<a  href="./agenda"><button>Agenda</button></a>
		<a  href="./gestionCompte"><button>Gérer mon compte</button></a>
	</div>

	<div class="nav-bar2">
		<a href="./index"><button>Accueil</button></a>  
		<a  href="./nouvelUtilisateur"><button>Création Compte</button></a> 
		<a  href="./identification"><button>Identification</button></a>
		<a  href="./disponibilite"><button>Disponibilité</button></a>
		<a  href="./resultat"><button>Résultat</button></a>
		<a  href="./agenda"><button>Agenda</button></a>
		<a  href="./gestionCompte"><button>Gérer mon compte</button></a>
	</div>
	
	<footer>
		<p> Copyright &copy; CY-Tech -2022-2023 - All Right Reserved </p> 
	</footer>
    
    <div class="main">
    	<h1>Bienvenue</h1>
		<p>Tennis game vous propose de vous assigner automatiquement des matchs
		dans la semaine : créer votre compte dès maintenant et choisissez vos
		disponibilités. Notre site ajoutera à votre agenda tous les matchs pour
		lesquels un adversaire est disponible. Vous pourrez ensuite entrer le
		résultat du match et les consulter par la suite. Que le meilleur 
		gagne ...</p>
	</div>

</body>

</html>